
DOMAIN_NAME=login.42.fr
DATA_PATH=/home/login/data

DB_NAME=wordpress
DB_USER=wp_user

WP_TITLE=Inception
WP_ADMIN_USER=superadmin
WP_ADMIN_EMAIL=admin@example.com
WP_USER=editor
WP_USER_EMAIL=editor@example.com
